*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    line-height: 1.5;
}

@font-face {
    font-family: 'Jua', sans-serif;
    src: url('https://fonts.googleapis.com/css2?family=Jua&family=Rye&family=Thasadith&display=swap');
}

.body{
    /* display: flex; */
    text-align: center;
    /* font-family: 'Jua', sans-serif; */
    font-family: 'Thasadith', sans-serif;

}
.titleDiv {
    color: brown;
    text-align: center;

}

/* .rapperForm{

} */